$colors: (
  capybara-isolated-1-hex: #59452c,
  capybara-isolated-2-hex: #8c704f,
  capybara-isolated-3-hex: #d9bb96,
  capybara-isolated-4-hex: #402a17,
  capybara-isolated-5-hex: #f2f2f2,
);

body {
  background-color: beige;
}
